-e ../../aak_integration
-e ../../aak_integration/serviceplatformen_lib
git+https://github.com/magenta-aps/cvronline-get-legal-unit@development
appdirs>=1.4.3
cached-property>=1.4.2
certifi>=2018.8.13
chardet>=3.0.4
defusedxml>=0.5.0
idna>=2.7
isodate>=0.6.0
Jinja2>=2.10
lxml>=4.2.1
MarkupSafe>=1.0
pkg-resources>=0.0.0
pytz>=2018.4
requests>=2.19.1
requests-toolbelt>=0.8.0
six>=1.11.0
urllib3>=1.23
xmltodict>=0.11.0
zeep>=2.4.0
