-e ../../aak_integration
-e ../../aak_integration/serviceplatformen_lib
appdirs
cached-property
certifi
chardet
defusedxml
idna
isodate
Jinja2
lxml
MarkupSafe
pkg-resources
pytz
requests
requests-toolbelt
six
urllib3
xmltodict
zeep
git+https://github.com/magenta-aps/cpr_udtraek

